<ion-view title="success">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">

        <div class="card">
          <div class="item item-text-wrap">
              <h1 class="title">Welcome, {{userData.name}}</h1>
              <h3>
                  You are now set to begin searching for books!
                  <br>
                  To begin, press the icon below.
              </h3>
              <a href="#/side-menu/search" class="successIcon"><i class="icon ion-log-in"></i></a>
          </div>
        </div>
    </ion-content>
</ion-view>
